<h1>THIS IS MY TEXT COMPONENT YA BASSIISSIH</h1>

<!-- EARLIER SERVER INPUT COMPONENT HTML
<app-server-component></app-server-component> -->
<!-- <label for="Server"> Server </label> -->

<!-- Event Binding (event) -->
<!-- (input)="onUpdateServerName($event)" -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<h4>New server being added: {{ newServerName }}</h4> -->

<!-- Two-WayBinding -->
<!-- <input type="text" class="form-control" [(ngModel)]="newServerName" />
<br /> -->

<!-- Property Binding -->
<!-- [disabled]="!allowNewServer" -->
<!-- <button
  (click)="onCreateServer()"
  class="btn btn-primary"
  [disabled]="!allowNewServer"
>
  Add a server
</button> -->
<!--
<h3>{{ serverCreationStatus }}</h3> -->
<!-- <h4>New Server Name: {{ newServerName }}</h4> -->
<!-- <br> -->


